@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
	display: flex;
	height: 100vh;

	font-family: "Rubik", sans-serif;
}

.main {
	flex: 2;
}

.side-image {
	flex: 1;
	background-image: url("./assets/space.jpg");
	background-repeat: no-repeat;
	background-size: 720px 1280px;
}

.side-image > h1 {
	font-family: "Roboto", sans-serif, -apple-system, system-ui;
	font-weight: 100;
	letter-spacing: 0.2rem;

	color: white;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba(255, 255, 255, 0.1);
	position: relative;
	top: 5rem;
}
